{% extends ../base.html %}

{% block title %}Crafty Controller - Backups{% end %}

{% block content %}

<section class="content-header">
  <h1>
    Server Backups
    <small>Because the NSA won't send their copy</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Server Backup</li>
  </ol>
</section>


<section class="content">

    <div class="row">
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Backups for Server ID: {{ data['server_id'] }} - {{ data['server_name'] }}
                  </h3>
                </div>
                <div class="box-body">
                    <a  id="backup_button"
                        href="/admin/commands?command=backup&id={{ data['server_id'] }}"
                        onclick="backup_started()"
                        class="btn btn-app">
                        <i class="fa fa-floppy-o"></i> Backup Server Now
                    </a>
                    <a id="show_config" class="btn btn-app">
                        <i class="fa fa-cogs"></i>
                        Change Backup Config
                    </a>
                    <div id="backup_save_note" class="text-danger">
                        Please save your changes (or hit cancel) below to enable the backup button again.
                    </div>

                    <div id="backup_data">
                        <hr />

                        Your backups are stored in: <br /> {{ data['backup_path'] }}<br />
                        <hr>

                        You are backing up these paths:<br />
                        <ul>
                            {% for p in data['backup_paths'] %}
                            <li>{{ p }}</li>
                            {% end %}
                        </ul>
                    </div>
                </div>
              </div>

            <div class="box" id="backup_config_box" >
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Backup Config for Server ID: {{ data['server_id'] }} - {{ data['server_name'] }}
                  </h3>
                </div>
                <div class="box-body">
                    <form method="post">
                    {% raw xsrf_form_html() %}
                        <input type="hidden" name="server_id" value="{{ data['server_id'] }}"/>
                    <div class="row">
                        <div class="form-group">
                              <label for="max_backups" class="col-xs-3 control-label">Max Age Of Backups In Days</label>

                              <div class="col-xs-2">
                                    <select class="form-control" name="max_backups">
                                        <option value="7" {% if data['backup_config']['max_backups'] == 7 %} selected {% end %}>7</option>
                                        <option value="14" {% if data['backup_config']['max_backups'] == 14 %} selected {% end %}>14</option>
                                        <option value="30" {% if data['backup_config']['max_backups'] == 30 %} selected {% end %}>30</option>
                                        <option value="60" {% if data['backup_config']['max_backups'] == 60 %} selected {% end %}>60</option>
                                        <option value="90" {% if data['backup_config']['max_backups'] == 90 %} selected {% end %}>90</option>
                                        <option value="182" {% if data['backup_config']['max_backups'] == 182 %} selected {% end %}>182</option>
                                        <option value="365" {% if data['backup_config']['max_backups'] == 365 %} selected {% end %}>365</option>
                                    </select>
                              </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                          <div class="form-group">
                              <label for="storage_location" class="col-xs-3 control-label">Where to Save Backups</label>

                              <div class="col-sm-9">
                                    <input type="text"
                                           class="form-control"
                                           id="storage_location"
                                           placeholder="Backup Location"
                                           name="storage_location"
                                           value="{{ data['backup_config']['storage_location'] }}"
                                    >
                              </div>
                            </div>
                    </div>

                    <hr />

                    <input type="hidden" name="config_type" value="backup_settings"/>
                    <h4>Backup These Files</h4>
                    <label>
                        Backup the whole server:<br />
                        {% if data['backup_data'][0] == data['server_root'] %}
                            <input type="checkbox" id="whole_server" name="backup" value="{{ data['server_root'] }}" checked="true"/> Backup Everything
                        {% else %}
                            <input type="checkbox" id="whole_server" name="backup" value="{{ data['server_root'] }}"/> Backup Everything
                        {% end %}

                        <span id="everything_hint"> - Uncheck to select individual folders to backup</span>
                    </label>

                    <hr />
                    Individual Folder Backup <br />

                    <label>
                    <input type="checkbox" id="select_all" disabled="true"/> SELECT ALL
                    </label>

                    <br />

                    {% for item in data['directories'] %}

                        {% if item['type'] == 'dir' %}
                            <label>
                                <input type="checkbox"
                                       class="checkBoxClass"
                                       name="backup"
                                       value="{{item['name']}}"
                                       disabled="true"
                                       {% if item['name'] in data['backup_data']%}
                                           checked="true"
                                            disabled="false"
                                       {% else %}
                                            disabled="true"
                                        {% end%}
                                />
                                <i class="fa fa-folder" aria-hidden="true"></i>
                                {{ item['name'] }}
                            </label>
                            <br />
                        {% else %}
                            <label>
                                <input type="checkbox"
                                       class="checkBoxClass"
                                       name="backup"
                                       value="{{item['name']}}"

                                        {% if item['name'] in data['backup_data']%}
                                            checked="true"
                                            disabled="false"
                                        {% else %}
                                            disabled="true"
                                        {% end%}
                                />
                                <i class="fa fa-file" aria-hidden="true"></i>
                                {{ item['name'] }}
                            </label>
                            <br />
                        {% end %}
                    {% end %}
                    <a href="/admin/backups?id={{ data['server_id'] }}" class="btn btn-danger">
                        Cancel
                    </a>

                    <button type="submit" class="btn btn-success pull-right">
                        <i class="fa fa-floppy-o" aria-hidden="true"></i>
                        Save Backup Settings
                    </button>
                    <br class="clear"/>
                    <br class="clear"/>
                </form>
                </div>
            </div>
        </div>

        <div class="col-xs-6">
            <div class="box">
                <div class="box-header with-border">
                  <h3 class="box-title">
                      Existing Backups
                  </h3>
                </div>
                <div class="box-body">
                    <table class="table table-responsive" id="backup_table">
                        <thead>
                        <tr>
                            <th width="10%">Download</th>
                            <th>Path</th>
                            <th width="20%">Size</th>
                            <th width="10%">Delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for backup in data['current_backups'] %}
                            <tr>
                            <td>
                                <a href="/admin/downloadbackup?file={{ backup['path'] }}&id={{ data['server_id'] }}" class="btn btn-primary">
                                    <i class="fa fa-download" aria-hidden="true"></i>
                                    Download
                                </a>
                            </td>
                            <td>{{ backup['path'] }}</td>
                            <td>{{ backup['size'] }}</td>
                            <td>
                                <button data-file="{{ backup['path'] }}" class="btn btn-danger del_button">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                    Delete
                                </button>

                            </td>
                            </tr>
                        {% end %}

                        </tbody>
                    </table>
                </div>
              </div>
        </div>

    </div>


</section>


{% end %}

{% block js-script %}

<script>

    //used to get cookies from browser - this is part of tornados xsrf protection - it's for extra security
    function getCookie(name) {
        var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
        return r ? r[1] : undefined;
    }

    function show_saved(){
        var dialog = bootbox.dialog({
            message: "Settings Saved",
            className: 'modal modal-success fade-in',
            okButton: false
        });
    }

    function show_invalid(){
        var dialog = bootbox.dialog({
            message: "Invalid Settings Detected",
            className: 'modal modal-danger fade-in',
            okButton: false
        });
    }

    function hide_modal(){
        bootbox.hideAll()
    }

    function backup_started(time='5-10'){
            bootbox.alert({
            message: "A backup task has been started.",
            backdrop: true
        });
    }

    function del_backup(filename, id){
        var token = getCookie("_xsrf")

        data_to_send = { file_name :filename}

        console.log('Sending Command to delete file: ' + filename)
        $.ajax({
          type: "POST",
          headers: {'X-XSRFToken': token},
          url: '/ajax/del_file?server_id='+id,
          data: data_to_send,
          success: function(data){
            location.reload();
          },
        });
    }

    $( document ).ready(function() {
        console.log( "ready!" );

        $("#backup_config_box").hide();
        $("#backup_save_note").hide();

        $("#show_config").click(function () {
            $("#backup_config_box").toggle();
            $('#backup_button').hide();
            $('#backup_save_note').show();
            $('#backup_data').hide();
        });



        $('#backup_table').DataTable({
            "order": [[ 1, "desc" ]]
        });

        $( ".del_button" ).click(function() {
            var file_to_del = $(this).data("file");

            console.log("file to delete is" + file_to_del);

            bootbox.confirm({
                title: "Destroy backup " + file_to_del + "?",
                message: "Do you want to delete this file? This cannot be undone.",
                buttons: {
                    cancel: {
                        label: '<i class="fa fa-times"></i> Cancel'
                    },
                    confirm: {
                        label: '<i class="fa fa-check"></i> Confirm'
                    }
                },
                callback: function (result) {
                    console.log(result);
                    if (result == true) {
                        del_backup(file_to_del,{{ data['server_id'] }})
                    }
                }
            });
        });

        checkbox_update();
        enable_disable_all();

        //adding quick/dirty padding
        $('input').css("margin-bottom",'10px')

        {% if data['saved'] %}
            show_saved()
            setTimeout(hide_modal, 1000);
        {% end %}

        {% if data['invalid'] %}
            show_invalid()
            setTimeout(hide_modal, 1000);
        {% end %}


        $("#whole_server").click(function () {
            enable_disable_all();
            checkbox_update();
        });

        $("#select_all").click(function () {
            $(".checkBoxClass").prop('checked', $(this).prop('checked'));
            checkbox_update();
        });

        $(".checkBoxClass").click(function () {
            if ( $(this).prop('checked') === false ){
                $("#select_all").prop('checked', false);
                checkbox_update();
            }
        });

        $('.checkBoxClass').change(function(){
            checkbox_update();
        });

    });

    function checkbox_update(){
        $( ".checkBoxClass" ).each(function( index ) {
            if (this.checked) {
                $(this).parent().addClass('text-green')
                $(this).parent().removeClass('text-red')
            }
            else{
                $(this).parent().addClass('text-red')
                $(this).parent().removeClass('text-green')
            }
        });
    }

    function enable_disable_all(){
        if ( $("#whole_server").prop('checked') === true ){
                $(".checkBoxClass").prop('checked', false);
                $(".checkBoxClass").prop('disabled', true);
                $("#select_all").prop('checked', false);
                $("#select_all").prop('disabled', true);
                $("#everything_hint").show();
            }
        else{
            $(".checkBoxClass").prop('disabled', false);
            $("#select_all").prop('disabled', false);
            $("#everything_hint").hide();
        }
    }

</script>

{% end %}